.header{
    height: 100vh;
    background: #060809;
}
.app__navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__navbar-leftSide{
    display: flex;
    align-items: center;
    gap: 2rem;
    img {
        width: 150px;
        height: 90px;
        margin-left: 20px;
    }
    .app__navbar-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 2.5rem;
        li{
            cursor: pointer;
            a{
                color: #ECF1F0;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                .hover_link {
                    height: 2px;
                    background-color: #5db336;
                    margin-top: 2px;
                }
            }
        }
    }
}
.app__navbar-rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    .vertical-line{
        width: 1.7px;
        height: 24px;
        background: #ECF1F0;
    }
    li {
        cursor: pointer;
        a {
            color: #ECF1F0;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            .hover_link {
                height: 2px;
                background-color: #5db336;
                margin-top: 2px;
            }
        }
    }
    .header__button{
        background-color: #227917;
        margin-right: 50px;
        height: 3rem;
        width: 12rem;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1, 1.1);
        }
        a{
            display: flex;
            list-style: none;
            color: #ECF1F0;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            padding-top: 12px;
            padding-left: 20px;
            transition: all 0.3s ease-in-out;
        }
    }
}
.header__content{
    display: flex;
    margin-top: 100px;
}
.headerContent_leftSide{
    margin-left: 45px;
    flex: 1;
    margin-top: 110px;
    h2{
        color: #ECF1F0;
        font-size: 3rem;
        line-height: 60px;
        font-weight: 700;
    }
    h3{
        color: #ECF1F0;
        font-size: 1.2rem;
        margin-top: 20px;
        font-weight: 400;
        line-height: 25px;
    }
    .headerContent__button{
        margin-top: 20px;
        background-color: #227917;
        height: 3rem;
        width: 12rem;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1, 1.1);
        }
        a{
            display: flex;
            list-style: none;
            color: #ECF1F0;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            padding-top: 12px;
            padding-left: 20px;
            transition: all 0.3s ease-in-out;
        }
    }
}
.headerContent_rightSide{
    display: flex;
    flex: 1;
    color: #ECF1F0;
    position: relative;
    margin-right: 80px;
}
.faceImageOne{
    position: absolute;
    top: -20px;
    left: 200px;
    z-index: 2;
    img{
        height: 400px;
        width: 400px;
    }
}
.faceImageTwo{
    position: absolute;
    top: 200px;
    left: 270px;
    z-index: 3;
    img {
        height: 250px;
        width: 250px;
    }
}
.faceImageThree{
    position: absolute;
    left: 50px;
    top: -40px;
    z-index: 1;
    img {
        height: 244px;
        width: 244px;
    }
}
.faceImageSvgOne{
    position: absolute;
    left: 470px;
    top: 60px;
    z-index: 4;
}
.faceImageSvgTwo{
    position: absolute;
    top: 120px;
    left: 110px;
}
.faceImageSvgThree{
    position: absolute;
    top: 120px;
    left: 90px;
}
.faceImageSvgFour {
    position: absolute;
    top: -20px;
    left: 220px;
    z-index: 5;
}
